@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <button type="button" class="btn btn-link ml-md-auto" @onclick="@LogoutClick">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <button type="button" class="btn btn-link ml-md-auto" @onclick=@(e => navigationManager.NavigateTo("/login"))>Login</button>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>

</div>


@code {

    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }
}